Africa.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Africa.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Africa.xcodeproj/project.xcworkspace/xcuserdata/noelvelasco.xcuserdatad/UserInterfaceState.xcuserstate
Africa.xcodeproj/xcuserdata/noelvelasco.xcuserdatad/xcschemes/xcschememanagement.plist
